.datesInfo{
    font-size: .7rem !important;
    padding: 10px !important;;
}

.clr-form-horizontal .clr-form-control>.clr-control-label, .clr-form-horizontal .clr-form-control>.clr-form-control.clr-form-control-multi .clr-control-label{
    width: auto !important;
}