<h1>
  <clr-icon shape="help" size="20"></clr-icon> Pruebas de los usuarios
</h1>

<div class="content-area bg-ca mx-ca br-ca">
  <clr-tabs>
    <clr-tab>
      <button clrTabLink (click)="getTestsDataPending()">Pruebas pendientes por evaluar</button>
      <ng-template [(clrIfActive)]="tabTestPending">
        <clr-tab-content>
          <div class="clr-row w-100">
            <div class="clr-col-12">
              <h3>Filtros y ordenamiento</h3>
              <form class="clr-form clr-form-horizontal">
                <div class="clr-row">
                  <div class="clr-col-12 clr-col-md-4">
                    <clr-select-container>
                      <label>Area</label>
                      <select clrSelect [(ngModel)]="filters.area" name="area">
                        <option value="">Todas</option>
                        <option *ngFor="let area of areasData" [ngValue]="area.id">{{ area.name }}</option>
                      </select>
                    </clr-select-container>
                  </div>
                  <div class="clr-col-12 clr-col-md-4">
                    <clr-input-container>
                      <label>Alumno:</label>
                      <input clrInput type="text" [(ngModel)]="filters.user" name="user" />
                    </clr-input-container>
                  </div>
                  <div class="clr-col-12 clr-col-md-4">
                    <clr-select-container>
                      <label>Ordenar por</label>
                      <select clrSelect [(ngModel)]="filters.order" name="order">
                        <option value="new">Mas reciente</option>
                        <option value="old">Mas Antiguo</option>
                      </select>
                    </clr-select-container>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="clr-row w-100">
            <div class="clr-col-md-6 clr-col-12"
              *ngFor="let test of testPendingData | paginate: { itemsPerPage: 8, currentPage: p }">
              <div class="card">
                <div class="card-header">
                  <clr-icon shape="list" size="18"></clr-icon>&nbsp; {{ test.name }} <small> -
                    {{ test.questions.length }} Preguntas </small>
                </div>
                <div class="card-text p-1 mb-0">
                  <h3>
                    <clr-icon size="20" shape="assign-user"></clr-icon> <b>Usuario:</b>
                    {{ test.userTestData.firstName }} {{ test.userTestData.lastName }}
                  </h3>
                  <h4>
                    <clr-icon size="20" shape="envelope"></clr-icon> {{ test.userTestData.email }}
                  </h4>
                  <div class="pt-1">
                    <span class="label datesInfo">
                      <clr-icon shape="calendar"></clr-icon> &nbsp; Realizada:
                      {{ test.dateRealize.seconds * 1000 | date:'dd-MM-yyyy h:mm:ss a' }}
                    </span>
                    <span class="label datesInfo" *ngIf="test.status == 2">
                      <clr-icon shape="calendar"></clr-icon> &nbsp; Evaluada:
                      {{ test.dateEvaluate.seconds * 1000 | date:'dd-MM-yyyy h:mm:ss a' }}
                    </span>
                  </div>
                </div>

                <div class="card-block">
                  <a class="btn btn-outline-success">
                    <clr-icon shape="tag"></clr-icon>
                    Curso: {{ test.name_area }}
                  </a>
                  <a class="btn btn-outline" *ngIf="test.status === 1">
                    <clr-icon shape="clock"></clr-icon>
                    Estatus: Pendiente por revision
                  </a>
                  <a class="btn btn-outline-success" *ngIf="test.status === 2">
                    <clr-icon shape="check"></clr-icon>
                    Estatus: Evaluado
                  </a>
                </div>
                <div class="card-block">
                  <a class="btn btn-success" [routerLink]=" '/profesor/test/evaluar/' + test.id"
                    routerLinkActive="active">
                    <clr-icon shape="success-standard"></clr-icon>
                    Evaluar
                  </a>
                </div>
              </div>
            </div>
          </div>
          <pagination-controls (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente">
          </pagination-controls>
        </clr-tab-content>
      </ng-template>
    </clr-tab>

    <clr-tab>
      <button clrTabLink (click)="getTestsDataHistory()">Pruebas evaluadas</button>
      <ng-template [(clrIfActive)]="tabTestHistory">
        <clr-tab-content>
          <div class="content-container">
            <div class="clr-row w-100">
              <div class="clr-col-md-6 clr-col-12" *ngFor="let test of testHistoryData">
                <div class="card">
                  <div class="card-header">
                    <clr-icon shape="list" size="18"></clr-icon>&nbsp; {{ test.name }} <small> -
                      {{ test.questions.length }} Preguntas </small>
                  </div>
                  <div class="card-text p-1 mb-0">
                    <h3>
                      <clr-icon size="20" shape="assign-user"></clr-icon> <b>Usuario:</b>
                      {{ test.userTestData.firstName }} {{ test.userTestData.lastName }}
                    </h3>
                    <h4>
                      <clr-icon size="20" shape="envelope"></clr-icon> {{ test.userTestData.email }}
                    </h4>
                    <div class="pt-1">
                      <span class="label datesInfo">
                        <clr-icon shape="calendar"></clr-icon> &nbsp; Realizada:
                        {{ test.dateRealize.seconds * 1000 | date:'dd-MM-yyyy h:mm:ss a' }}
                      </span>
                      <span class="label datesInfo" *ngIf="test.status == 2">
                        <clr-icon shape="calendar"></clr-icon> &nbsp; Evaluada:
                        {{ test.dateEvaluate.seconds * 1000 | date:'dd-MM-yyyy h:mm:ss a' }}
                      </span>
                    </div>
                  </div>
                  <div class="card-block">
                    <a class="btn btn-outline-success">
                      <clr-icon shape="tag"></clr-icon>
                      Curso: {{ test.name_area }}
                    </a>
                    <a class="btn btn-outline" *ngIf="test.status === 1">
                      <clr-icon shape="clock"></clr-icon>
                      Estatus: Pendiente por revision
                    </a>
                    <a class="btn btn-outline-success" *ngIf="test.status === 2">
                      <clr-icon shape="check"></clr-icon>
                      Estatus: Evaluado
                    </a>
                  </div>
                  <div class="card-block">
                    <a class="btn btn-primary" [routerLink]=" '/profesor/test/detalle/' + test.id"
                      routerLinkActive="active">
                      <clr-icon shape="bullet-list"></clr-icon>
                      Ver detalle
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </clr-tab-content>
      </ng-template>
    </clr-tab>
  </clr-tabs>
</div>


<clr-modal [(clrModalOpen)]="modalConfirmTestStart">
  <h3 class="modal-title">¿Esta seguro que desea realizar esta Prueba?</h3>
  <div class="modal-body">
    <h4> Nombre: {{ testSelData.name }}</h4>
    <h5> Curso: {{ areaSelData.name }} </h5>
  </div>
  <div class="modal-footer" *ngIf="inGenerateTest">
    <clr-progress-bar clrValue="75" clrLoop></clr-progress-bar>
  </div>
  <div class="modal-footer" [hidden]="inGenerateTest">
    <button type="button" class="btn btn-outline" (click)="modalConfirmTestStart = false">
      <clr-icon shape="times"></clr-icon> Ahora no
    </button>
    <button type="button" class="btn btn-success" (click)="generateTest()">
      <clr-icon shape="view-list"></clr-icon> Si, Comenzar
    </button>
  </div>
</clr-modal>