<clr-header class="header-5">
  <div class="branding">
    <a href="..." class="nav-link">
      <img src="https://i.ibb.co/BsBkh3x/esconfa-mini.png" alt="ESCONFA" width="64" />
      <span class="title">{{ name_company }}</span>
    </a>
  </div>
  <div class="header-nav">
    <a href="#" class="nav-link"><span class="nav-text">Inicio</span></a>
    <a *ngIf="userLoad && userData.type === 2" routerLink="/test/usuario" routerLinkActive="active"
      class="nav-link"><span class="nav-text">Mis Pruebas</span></a>
    <a *ngIf="userLoad && userData.type !== 2" routerLink="/profesor/test/lista" routerLinkActive="active"
      class="nav-link"><span class="nav-text">Pruebas</span></a>
    <a *ngIf="userLoad && userData.type !== 2" routerLink="/admin/areas" routerLinkActive="active"
      class="nav-link"><span class="nav-text">Cursos</span></a>
    <a *ngIf="userLoad && userData.type !== 2" routerLink="/admin/usuarios" routerLinkActive="active"
      class="nav-link"><span class="nav-text">Usuarios</span></a>
  </div>
  <div class="header-actions">
    <clr-dropdown>
      <button class="nav-text" clrDropdownTrigger aria-label="toggle settings menu">
        <clr-icon shape="user"></clr-icon>
        <span class="hideMobile"> {{  userData.firstName }} </span>
        <clr-icon shape="caret down"></clr-icon>
      </button>
      <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
        <a href="..." clrDropdownItem>Mi cuenta</a>
        <a href="..." clrDropdownItem>Contacto</a>
        <a href="#" clrDropdownItem (click)="authservice.LogOut()">Salir</a>
      </clr-dropdown-menu>
    </clr-dropdown>
  </div>
</clr-header>
