<h1 *ngIf="userData !== undefined">Hola {{ userData.firstName }}, {{ textSaludo }} ! </h1>
<div>A continuación te mostramos lo que puedes hacer</div>

<div class="content-area bg-ca mx-ca br-ca">

  <div class="clr-row">
    <div class="clr-col-md-4 clr-col-12">
      <div class="card" *ngIf="userData.type === 2; else cardPruebasProfesor">
        <div class="card-header">
          Mis pruebas
        </div>
        <div class="card-block">
          En esta seccion encontraras las pruebas disponibles, y podras consultar tu historial.
        </div>
        <div class="card-footer">
          <a class="btn btn-primary" routerLink="/test/usuario" routerLinkActive="active">
            <clr-icon shape="bullet-list"></clr-icon>
            Ir a mis pruebas
          </a>

        </div>
      </div>
      <ng-template #cardPruebasProfesor>
        <div class="card">
          <div class="card-header">
            Sección de pruebas
          </div>
          <div class="card-block">
            En esta seccion podras evaluar las pruebas realizadas, y ver el historial.
          </div>
          <div class="card-footer">
            <a class="btn btn-primary" routerLink="/profesor/test/lista" routerLinkActive="active">
              <clr-icon shape="bullet-list"></clr-icon>
              Ver y evaluar pruebas
            </a>
          </div>
        </div>
      </ng-template>
    </div>
  </div>

</div>