<h1>
        <clr-icon shape="list" size="20"></clr-icon>&nbsp; Prueba: {{  pruebaData.name }}
</h1>
<small> Numero de preguntas: {{ pruebaData.questions.length }} </small>
<div class="content-area bg-ca mx-ca br-ca">
        <div *ngIf="inLoad">
                Cargando...
                <div class="progress loop"><progress></progress></div>
        </div>
        <div class="content-container" *ngIf="pruebaData.status === 1 || pruebaData.status === 2">
                <div class="card">
                        <div class="card-header">
                                <h3>Información detallada</h3>
                        </div>
                        <div class="card-text p-1 mb-0">
                                <h3>
                                        <clr-icon size="20" shape="assign-user"></clr-icon> <b>Usuario:</b>
                                        {{ userTestData.firstName }} {{ userTestData.lastName }}
                                </h3>
                                <h4>
                                        <clr-icon size="20" shape="envelope"></clr-icon> {{ userTestData.email }}
                                </h4>
                                <div class="pt-1">
                                        <span class="label datesInfo">
                                                <clr-icon shape="calendar"></clr-icon> &nbsp; Realizada:
                                                {{ pruebaData.dateRealize.seconds * 1000 | date:'dd-MM-yyyy h:mm:ss a' }}
                                        </span>
                                        <span class="label datesInfo" *ngIf="pruebaData.status == 2">
                                                <clr-icon shape="calendar"></clr-icon> &nbsp; Evaluada:
                                                {{ pruebaData.dateEvaluate.seconds * 1000 | date:'dd-MM-yyyy h:mm:ss a' }}
                                        </span>
                                </div>
                        </div>
                        <div class="card-block">
                                <a class="btn btn-outline-success">
                                        <clr-icon shape="tag"></clr-icon>
                                        Curso: {{ pruebaData.name_area }}
                                </a>
                                <a class="btn btn-outline" *ngIf="pruebaData.status === 1">
                                        <clr-icon shape="clock"></clr-icon>
                                        Estatus: Pendiente por revision
                                </a>
                                <a class="btn btn-outline-success" *ngIf="pruebaData.status === 2">
                                        <clr-icon shape="check"></clr-icon>
                                        Estatus: Evaluado
                                </a>
                        </div>
                        <div class="card-block" *ngIf="pruebaData.status === 2">
                                <a class="btn btn-success">
                                        <clr-icon shape="check"></clr-icon>
                                        Nota: {{ pruebaData.score }}
                                </a>
                                <div>
                                        Comentarios de la evaluación
                                </div>
                                <p [innerHTML]="pruebaData.comments"> </p>
                        </div>
                </div>
        </div>
        <div class="content-container" *ngIf="!inLoad">
                <div class="clr-row">
                        <div class="clr-col-12" *ngFor="let question of pruebaData.questions; index as i">
                                <div class="card">
                                        <div class="card-header">
                                                <div [innerHTML]=" ( i + 1 ) + ') ' + question.text"></div>
                                        </div>
                                        <div class="card-block" *ngIf="pruebaData.status == 0">
                                                <ckeditor [config]="configEditor" [(ngModel)]="question.answer"
                                                        [editor]="Editor"></ckeditor>
                                        </div>
                                        <div class="card-block"
                                                *ngIf="pruebaData.status === 1 || pruebaData.status === 2">
                                                <p [innerHTML]="question.answer"></p>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
        <div *ngIf="!inLoad && pruebaData.status == 1">
                <div class="content-container w-100 clr-justify-content-center pt-1">

                        <clr-select-container>
                                <label>
                                        <h3>Puntaje</h3>
                                </label>
                                <select clrSelect [(ngModel)]="pruebaData.score" name="score">
                                        <option *ngFor="let number of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]"
                                                [value]="number">{{number}}</option>
                                </select>
                        </clr-select-container>

                </div>
                <div class="content-container w-100 clr-justify-content-center pt-1">
                        <div>
                                <button class="btn btn-success" (click)="modalConfirmEvaluateOpen()">
                                        <clr-icon shape="success-standard"></clr-icon> Guardar Evaluación
                                </button>
                        </div>
                </div>
        </div>
</div>

<clr-modal [(clrModalOpen)]="modalConfirmEvaluate">
        <h3 class="modal-title">¿Estas seguro(a) de definir la evaluación para la prueba?</h3>
        <div class="modal-body">
                <div *ngIf="!resultSaveTest.saved">
                        <div class="card-block">
                                <div>
                                        <h3>Puntaje asignado: <b> {{ pruebaData.score }}</b></h3>
                                </div>
                                <div class="pt-1">
                                        Comentario sobre la evaluación
                                        <ckeditor [config]=" { language: 'es' } " [(ngModel)]="pruebaData.comments"
                                                [editor]="Editor"></ckeditor>
                                </div>
                        </div>
                </div>
                <div *ngIf="resultSaveTest.inSave">
                        Guardando...
                        <div class="progress loop"><progress></progress></div>
                </div>
                <div *ngIf="resultSaveTest.saved">
                        <h4>Se ha guardado la evaluacion correctamente!</h4>
                </div>
        </div>
        <div class="modal-footer" [hidden]="inGenerateTest">
                <button type="button" class="btn btn-outline" (click)="modalConfirmEvaluate = false">
                        <clr-icon shape="times"></clr-icon> No, Cancelar
                </button>
                <button type="button" [hidden]="resultSaveTest.inSave && !resultSaveTest.saved" class="btn btn-success"
                        (click)="saveTestEvaluation()">
                        <clr-icon shape="success-standard"></clr-icon> Si, Guardar
                </button>
        </div>
</clr-modal>