.testUser .card .card-header span {
    float: left;
    margin-right: 4px;
}

.datesInfo{
    font-size: .7rem !important;
    padding: 10px !important;
}

span.ck-file-dialog-button {
    display: none !important;
}