<h1>
        <clr-icon shape="list" size="32"></clr-icon> Prueba: {{  pruebaData.name }}
</h1>
<small> Numero de preguntas: {{ pruebaData.questions.length }} </small>
<div class="content-area bg-ca mx-ca br-ca">
        <div *ngIf="inLoad">
                Cargando preguntas...
                <div class="progress loop"><progress></progress></div>
        </div>
        <div class="content-container adjustmobile" *ngIf="pruebaData.status === 1 || pruebaData.status === 2">
                <div class="w-100">
                        <button class="btn btn-primary" routerLink="/test/usuario" routerLinkActive="active">
                                <clr-icon shape="list"></clr-icon>Ir a mis pruebas
                        </button>
                </div>
        </div>
        <div class="content-container adjustmobile" *ngIf="pruebaData.status === 1 || pruebaData.status === 2">
                <div class="card">
                        <div class="card-header">
                                <h3>Información detallada</h3>
                        </div>
                        <div class="card-text p-1 mb-0">
                                <span class="label datesInfo">
                                        <clr-icon shape="calendar"></clr-icon> &nbsp; Realizada:
                                        {{ pruebaData.dateRealize.seconds * 1000 | date:'dd-MM-yyyy h:mm:ss a' }}
                                </span>
                                <span class="label datesInfo" *ngIf="pruebaData.status == 2">
                                        <clr-icon shape="calendar"></clr-icon> &nbsp; Evaluada:
                                        {{ pruebaData.dateEvaluate.seconds * 1000 | date:'dd-MM-yyyy h:mm:ss a' }}
                                </span>
                        </div>
                        <div class="card-block">
                                <a class="btn btn-outline-success">
                                        <clr-icon shape="tag"></clr-icon>
                                        Curso: {{ pruebaData.name_area }}
                                </a>
                                <a class="btn btn-outline" *ngIf="pruebaData.status === 1">
                                        <clr-icon shape="clock"></clr-icon>
                                        Estatus: Pendiente por revision
                                </a>
                                <a class="btn btn-outline-success" *ngIf="pruebaData.status === 2">
                                        <clr-icon shape="check"></clr-icon>
                                        Estatus: Evaluado
                                </a>
                        </div>
                        <div class="card-block" *ngIf="pruebaData.status === 2">
                                <a class="btn btn-success">
                                        <clr-icon shape="check"></clr-icon>
                                        Nota: {{ pruebaData.score }}
                                </a>
                                <div>
                                        Comentarios de la evaluación
                                </div>
                                <p [innerHTML]="pruebaData.comments"> </p>
                        </div>
                </div>
        </div>
        <div class="content-container adjustmobile testUser" *ngIf="!inLoad">
                <div class="clr-row w-100 adjustmobile-m0">
                        <div class="clr-col-12" *ngFor="let question of pruebaData.questions; index as i">
                                <div class="card">
                                        <div class="card-header">
                                                <div [innerHTML]="'<span>' + ( i + 1 ) + ') </span> ' + question.text">
                                                </div>
                                        </div>
                                        <div class="card-block" *ngIf="pruebaData.status == 0">
                                                <ckeditor [config]="configEditor" [(ngModel)]="question.answer"
                                                        [editor]="Editor"></ckeditor>
                                        </div>
                                        <div class="card-block"
                                                *ngIf="pruebaData.status === 1 || pruebaData.status === 2">
                                                <p [innerHTML]="question.answer"></p>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
        <div class="content-container" *ngIf="!inLoad && pruebaData.status == 0">
                <div class="clr-row w-100 clr-justify-content-center pt-1">
                        <div>
                                <button class="btn btn-primary" (click)="modalConfirmPause()">
                                        <clr-icon shape="pause"></clr-icon> Pausar prueba
                                </button>
                                <button class="btn btn-success" (click)="modalConfirmTest()">
                                        <clr-icon shape="check"></clr-icon> Guardar prueba
                                </button>
                        </div>
                </div>
        </div>
</div>

<clr-modal [(clrModalOpen)]="modalConfirmSaveTest">
        <h3 class="modal-title">¿Estas seguro de haber terminado la prueba?</h3>
        <div class="modal-body">
                <div *ngIf="!resultSaveTest.saved">
                        Haz click en la opcion de tu preferencia para continuar
                </div>
                <div *ngIf="resultSaveTest.inSave">
                        Guardando...
                        <div class="progress loop"><progress></progress></div>
                </div>
                <div *ngIf="resultSaveTest.saved">
                        <h4>Se ha guardado la prueba correctamente!</h4>
                </div>
        </div>
        <div class="modal-footer" *ngIf="inGenerateTest">
                <clr-progress-bar clrValue="75" clrLoop></clr-progress-bar>
        </div>
        <div class="modal-footer" [hidden]="inGenerateTest">
                <button type="button" class="btn btn-outline" (click)="modalConfirmSaveTest = false">
                        <clr-icon shape="times"></clr-icon> No, Cancelar
                </button>
                <button type="button" [hidden]="resultSaveTest.inSave && !resultSaveTest.saved" class="btn btn-success"
                        (click)="saveTest()">
                        <clr-icon shape="view-list"></clr-icon> Si, Guardar
                </button>
        </div>
</clr-modal>


<clr-modal [(clrModalOpen)]="modalConfirmPauseTest">
        <h3 class="modal-title">¿Estas seguro pausar esta prueba?</h3>
        <div class="modal-body">
                <div *ngIf="!resultSaveTest.saved">
                        Haz click en la opcion de tu preferencia para continuar
                </div>
                <div *ngIf="resultSaveTest.inSave">
                        Guardando...
                        <div class="progress loop"><progress></progress></div>
                </div>
                <div *ngIf="resultSaveTest.saved">
                        <h4>Se ha pausado la prueba correctamente!</h4>
                </div>
        </div>
        <div class="modal-footer" *ngIf="inGenerateTest">
                <clr-progress-bar clrValue="75" clrLoop></clr-progress-bar>
        </div>
        <div class="modal-footer" [hidden]="inGenerateTest">
                <button type="button" class="btn btn-outline" (click)="modalConfirmSaveTest = false">
                        <clr-icon shape="times"></clr-icon> No, Cancelar
                </button>
                <button type="button" [hidden]="resultSaveTest.inSave && !resultSaveTest.saved" class="btn btn-primary"
                        (click)="pauseTest()">
                        <clr-icon shape="pause"></clr-icon> Si, Pausar
                </button>
        </div>
</clr-modal>