<h1>
  <clr-icon shape="help" size="20"></clr-icon> Mis pruebas
</h1>

<div class="content-area bg-ca mx-ca br-ca">
  <clr-tabs>
    <clr-tab>
      <button clrTabLink (click)="tabTestHistory = false; tabTestPending = true;">Pruebas disponibles</button>
      <ng-template [(clrIfActive)]="tabTestPending">
        <clr-tab-content>
          <div *ngIf="areasTestUser.length > 0">
            <div class="clr-row" *ngFor="let area of areasTestUser">
              <div class="clr-col-mf-4 clr-col-12" *ngFor="let test of area.test">
                <div class="card" *ngIf="test.status === undefined || test.status === 0">
                  <div class="card-header">
                    <clr-icon shape="list" size="18"></clr-icon> {{ test.name }}
                  </div>
                  <div class="card-block">
                    <a class="btn btn-outline-success">
                      <clr-icon shape="tag"></clr-icon>
                      Curso: {{ area.name }}
                    </a>
                  </div>
                  <div class="card-block">
                    {{ test.description }}
                  </div>
                  <div class="card-footer">
                    <a class="btn btn-success" *ngIf="test.status === 0"
                      [routerLink]="'/test/realizar/' + test.id_testUser" routerLinkActive="active">
                      <clr-icon shape="play"></clr-icon>
                      Continuar Prueba
                    </a>
                    <a class="btn btn-primary" *ngIf="test.status === undefined" (click)="confirmTest(area, test)">
                      <clr-icon shape="bullet-list"></clr-icon>
                      Realizar
                    </a>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div #emptyTest [hidden]="hayData">
            <div *ngIf="inLoad">
              Cargando...
              <clr-progress-bar clrValue="75" clrLoop></clr-progress-bar>.
            </div>
            <div *ngIf="!inLoad">
              <div class="text-center pt-1">
                <clr-icon shape="checkbox-list" size="60"></clr-icon>
                <h3>Actualmente no tienes pruebas disponibles por realizar.</h3>
              </div>
            </div>
          </div>
        </clr-tab-content>
      </ng-template>
    </clr-tab>

    <clr-tab>
      <button clrTabLink (click)="tabTestPending = false; tabTestHistory = true; ">Pruebas realizadas</button>
      <ng-template [(clrIfActive)]="tabTestHistory">
        <clr-tab-content>
          <div *ngIf="testHistoryData.length > 0; else emptyTestHistory">
            <div class="clr-row w-100">
              <div class="clr-col-12" *ngFor="let test of testHistoryData">
                <div class="card" *ngIf="test.status === 1 || test.status === 2">
                  <div class="card-header">
                    <clr-icon shape="list" size="18"></clr-icon>&nbsp; {{ test.name }} <small> -
                      {{ test.questions.length }} Preguntas </small>
                  </div>
                  <div class="card-text p-1 mb-0" *ngIf="test.status > 0">
                    <small class="label datesInfo">
                      <clr-icon shape="calendar"></clr-icon> &nbsp; Realizada:
                      {{ test.dateRealize.seconds * 1000 | date:'dd-MM-yyyy h:mm:ss a' }}
                    </small>
                    <small class="label datesInfo" *ngIf="test.status == 2">
                      <clr-icon shape="calendar"></clr-icon> &nbsp; Evaluada:
                      {{ test.dateEvaluate.seconds * 1000 | date:'dd-MM-yyyy h:mm:ss a'}}
                    </small>

                  </div>
                  <div class="card-block">
                    <a class="btn btn-outline-success">
                      <clr-icon shape="tag"></clr-icon>
                      Curso: {{ test.name_area }}
                    </a>
                    <a class="btn btn-outline-danger" *ngIf="test.status === 0">
                      <clr-icon shape="clock"></clr-icon>
                      Estatus: Pendiente por terminar
                    </a>
                    <a class="btn btn-outline" *ngIf="test.status === 1">
                      <clr-icon shape="clock"></clr-icon>
                      Estatus: Pendiente por revision
                    </a>
                    <a class="btn btn-outline-success" *ngIf="test.status === 2">
                      <clr-icon shape="check"></clr-icon>
                      Estatus: Evaluado
                    </a>
                  </div>
                  <div class="card-block">
                    <a class="btn btn-primary" [routerLink]=" '/test/detalle/' + test.id" routerLinkActive="active">
                      <clr-icon shape="bullet-list"></clr-icon>
                      Ver detalle
                    </a>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <ng-template #emptyTestHistory>
            <div *ngIf="inLoad">
              Cargando...
              <clr-progress-bar clrValue="75" clrLoop></clr-progress-bar>.
            </div>
            <div *ngIf="!inLoad">
              <div class="text-center pt-1">
                <clr-icon shape="success-standard" size="60"></clr-icon>
                <h3> Cuando realizes tus pruebas estaran aqui.</h3>
              </div>
            </div>
          </ng-template>
        </clr-tab-content>
      </ng-template>
    </clr-tab>
  </clr-tabs>


</div>


<clr-modal [(clrModalOpen)]="modalConfirmTestStart">
  <h3 class="modal-title">¿Esta seguro que desea realizar esta Prueba?</h3>
  <div class="modal-body">
    <h4> Nombre: {{ testSelData.name }}</h4>
    <h5> Curso: {{ areaSelData.name }} </h5>
  </div>
  <div class="modal-footer" *ngIf="inGenerateTest">
    <clr-progress-bar clrValue="75" clrLoop></clr-progress-bar>
  </div>
  <div class="modal-footer" [hidden]="inGenerateTest">
    <button type="button" class="btn btn-outline" (click)="modalConfirmTestStart = false">
      <clr-icon shape="times"></clr-icon> Ahora no
    </button>
    <button type="button" class="btn btn-success" (click)="generateTest()">
      <clr-icon shape="view-list"></clr-icon> Si, Comenzar
    </button>
  </div>
</clr-modal>