<div class="login-wrapper" [style.background]="'url(' + urlImg + ')'">
  <small class="infoImgDay">{{ infoImg }}</small>
  <div class="login">
    <section class="title" style="text-align: center;">
      <img src="https://i.ibb.co/BsBkh3x/esconfa-mini.png" alt="ESCONFA" width="150" />
      <h3 class="welcome">Bienvenid@,</h3>
      {{ name_company }}
      <h5 class="hint">Use su correo electronico y contraseña para acceder</h5>
      <h4 class="errorLogin" *ngIf="showError"> {{ errorMsg }} </h4>
      <h4 class="successLogin" *ngIf="showWelcome"> Bienvenido... </h4>
    </section>
    <div class="login-group">
      <clr-input-container>
        <label class="clr-sr-only">Correo</label>
        <input type="text" name="email" clrInput placeholder="Correo" #userName />
      </clr-input-container>
      <clr-password-container>
        <label class="clr-sr-only">Contraseña</label>
        <input type="password" name="password" clrPassword placeholder="Contraseña" #userPassword />
      </clr-password-container>
      <clr-checkbox-wrapper>
        <label>Recordar datos</label>
        <input type="checkbox" name="rememberMe" clrCheckbox #checkRemember />
      </clr-checkbox-wrapper>

      <button class="btn btn-primary" (click)="prepareLogin(userName.value, userPassword.value)">
        <clr-icon shape="login"></clr-icon> Acceder
      </button>
      <button class="btn btn-primary" class="btn btn-success" routerLink="/registro" routerLinkActive="active">
        <clr-icon shape="id-badge"></clr-icon> Registrarse
      </button>
    </div>
  </div>
</div>