<div class="login-wrapper" [style.background]="'url(' + urlImg + ')'">
    <small class="infoImgDay">{{ infoImg }}</small>
    <div class="login" *ngIf="stepRegister === 1">
        <section class="title">
            <h3 class="welcome">Registro de usuario</h3>
            <h5 class="hint">Por favor introduce el numero de boleta con que realizaste el pago, o tu codigo de registro
                si posees uno.</h5>
        </section>
        <div class="login-group">
            <clr-input-container>
                <label class="clr-sr-only">Nro. de boleta o codigo de registro</label>
                <input type="text" name="nroboleta" autofocus clrInput placeholder="Nro. de boleta o codigo de registro"
                    [(ngModel)]="dataRegister.nroBoleta" />
            </clr-input-container>

            <div class="alert alert-danger" *ngIf="showError.nroBoleta" role="alert">
                <div class="alert-items">
                    <div class="alert-item static">
                        <div class="alert-icon-wrapper">
                            <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                        </div>
                        <span class="alert-text">
                            Este numero de boleta o codigo de registro no se encuentra registrado.
                        </span>
                    </div>
                </div>
            </div>
            <button class="btn btn-primary" [disabled]="dataRegister.nroBoleta.length < 2"
                (click)="verificarBoleta()">Verificar</button>
            <button class="btn btn-success" routerLink="/login" routerLinkActive="active" (click)="verificarBoleta()">
                <clr-icon shape="undo"></clr-icon> Ir a Inicio de Sesion
            </button>

        </div>
    </div>
    <div class="login" *ngIf="stepRegister === 2">
        <section class="title">
            <h3 class="welcome">Hola {{ dataRegister.firstName }}</h3>
            <h5 class="hint">Tu correo es <b>{{ dataRegister.email }}</b>, ahora define tu contraseña</h5>
        </section>
        <div class="login-group">
            <clr-input-container>
                <label class="clr-sr-only">Contraseña</label>
                <input type="password" autofocus name="password" clrInput placeholder="Contraseña"
                    [(ngModel)]="dataRegister.password" />
            </clr-input-container>
            <clr-input-container>
                <label class="clr-sr-only">Repite tu contraseña</label>
                <input type="password" name="passwordVerify" clrInput placeholder="Repite tu contraseña"
                    [(ngModel)]="dataRegister.passwordVerify" />
            </clr-input-container>
            <div class="alert alert-danger" *ngIf="showError.password" role="alert">
                <div class="alert-items">
                    <div class="alert-item static">
                        <div class="alert-icon-wrapper">
                            <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                        </div>
                        <span class="alert-text">
                            Error, las contraseñas deben coincidir y ser minimo de 6 caracteres.
                        </span>
                    </div>
                </div>
            </div>
            <button class="btn btn-primary" (click)="createPassword()">Guardar</button>
        </div>
    </div>

    <div class="login" *ngIf="stepRegister === 3">
        <section class="title">
            <h3 class="welcome">Bienvenido</h3>
            <h5 class="hint">Estimado(a) <b> {{ dataRegister.firstName }} {{ dataRegister.lastName }} </b>, ya puedes
                acceder con tu correo: <b> {{ dataRegister.email }} </b> y la contraseña que definiste.</h5>
        </section>
        <div class="login-group">
            <button class="btn btn-primary" routerLink="/login" routerLinkActive="active">
                <clr-icon shape="login"></clr-icon> Iniciar sesión
            </button>
        </div>
    </div>

</div>