.infoImgDay { 
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #bbbbbb;
    width: 300px;
    text-align: right;
}

    
.login-wrapper .login .login-group .btn {
    margin-top: .5rem;
}