.bg-ca {
  background: #fafafa;
}

.mx-ca {
  margin-top: 10px;
  margin-bottom: 10px;
}

.br-ca {
  border-radius: 4px;
}

.pt-1 {
  padding-top: 1rem;
}

.p-1 {
  padding: 1rem !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.w-100 {
  width: 100% !important;
}

.text-center{
  text-align: center;
}

.main-container {
  background: rgb(210, 210, 210);
  background: linear-gradient(180deg, rgba(210, 210, 210, 1) 0%, rgba(223, 223, 223, 1) 26%, rgba(231, 231, 231, 1) 100%);
}

.text-danger {
  color: #d4573e;
}

.header.header-5,
header.header-5 {
  background-color: #106371 !important;
}

@media screen and (max-width: 768px) {
  .header-nav,
  .hideMobile {
    display: none !important;
  }

  .content-area.bg-ca, .adjustmobile {
    margin-left: -25px;
    margin-right: -25px;
  }

  .adjustmobile-m0 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) {
  .sidenav {
    display: none !important;
  }
}


.header .branding .title,
header .branding .title,
.header .header-actions .nav-link,
.header .header-nav .nav-link,
.header .settings .nav-link,
header .header-actions .nav-link,
header .header-nav .nav-link,
header .settings .nav-link,
.header .header-actions>.dropdown>.dropdown-toggle,
.header .settings>.dropdown>.dropdown-toggle,
header .header-actions>.dropdown>.dropdown-toggle,
header .settings>.dropdown>.dropdown-toggle {
  /*color: #282727  !important;*/
}


button:focus,
.dropdown-menu .btn-danger:focus,
.dropdown-menu .btn-info:focus,
.dropdown-menu .btn-link:focus,
.dropdown-menu .btn-outline-danger:focus,
.dropdown-menu .btn-outline-primary:focus,
.dropdown-menu .btn-outline-secondary:focus,
.dropdown-menu .btn-outline-success:focus,
.dropdown-menu .btn-outline-warning:focus,
.dropdown-menu .btn-outline:focus,
.dropdown-menu .btn-primary:focus,
.dropdown-menu .btn-secondary:focus,
.dropdown-menu .btn-success:focus,
.dropdown-menu .btn-warning:focus,
.dropdown-menu .btn:focus,
.dropdown-menu .dropdown-item:focus {
  outline: 1px dotted #b5b5b5;
}

.login-wrapper {
  background: rgb(115, 115, 115);
  background: linear-gradient(90deg, rgba(115, 115, 115, 1) 0%, rgba(207, 207, 207, 1) 53%, rgba(231, 231, 231, 1) 100%);
}

.login-wrapper .login {
  background: #f1f1f1e0;
}

.divider {
  border: 1px solid #d6d6d6;
  margin-top: 32px;
}

.alert {
  position: fixed;
  width: 100%;
  top: 60px;
}

.ck-editor__editable_inline {
  min-height: 80px;
}

.login-wrapper .login .login-group{
  padding-top: 1rem;
}

.testUser .card .card-header span {
  float: left;
  margin-right: 4px;
}